%p
  Jpzip api searches postal codes in Japan.
%h2
  Jpzip's Features
%ul
  %li
    = number_with_delimiter Jpzip.count
    jpzips exist in our database.
  %li Sinatra and mongodb make it faster!
  %li You can use it with jQuery very easy.
  %li It uses Cloud Foundry.
%h2
  Usages
- if request.host == 'localhost'
  - protocol = 'http://'
  - port = ':' + request.port.to_s
- else
  - protocol = 'https://'
  - port = ''
- url = "#{protocol}#{request.host}#{port}/9880041.xml"
%pre>
  %code>
    %a{ href: url, target: "_blank" }= url
%h2
  Examples
%h3
  Json
%pre>
  %code>
    &= @example.to_json
%h3
  XML
%pre>
  %code>
    &= @example.to_xml(root: "jpzip")
%h2
  Source
%dl
  %dt
    Github
  %dd
    %a{ href: "https://github.com/ysawa/jpzip", target: "_blank" }
      ysawa/jpzip - GitHub.
  %dt
    Japan Post Service
  %dd
    %a{ href: "http://www.post.japanpost.jp/zipcode/download.html", target: "_blank" }
      the download page of zip codes.
